@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/books.jpg" alt="Books" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to the best library you can get in this small village.
                </p>
            </div>
        </div>

    </div>
</div>
